$hover-stroke-thickness: 4px;
$hover-accent-colour: #DA4567;

.facet-text  {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    fill: #000000; /* Text color */
    /* Add other styling properties as needed */
  }
  
  .y-axis-tick-text {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    fill: #000000; /* Text color */
    /* Add other styling properties as needed */
  }

  .x-axis-tick-text {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    fill: #000000; /* Text color */
    /* Add other styling properties as needed */
  }

  .facet-rect {
    fill: #ccc; // Grey background color
    /* Add other styling properties as needed */
  }

  .facet-rect:hover {
   fill: $hover-accent-colour;
   transform: scale(1.05)
  }

  .facet-rect{
    transform-origin: center; /* or transform-origin: 50% */
    transform-box: fill-box;
    transition: all 0.1s;
  }

  .facet-text{
    pointer-events: none;

  }

  /*effect-underline*/
  .y-axis-tick-text:hover {
    fill: $hover-accent-colour;
    stroke: $hover-accent-colour;
    transform: scale(1.2);
    stroke-width: 1;
  }
  .y-axis-tick-text{
    transform-origin: right; /* or transform-origin: 50% */
    transform-box: fill-box;
    transition: all 0.1s;
  }


  .oncoplot-rect:hover{
    //fill: #DA4567;
    stroke:#1a0811;
    stroke-width: $hover-stroke-thickness;
    transform: scale(1.05)
  }

  .oncoplot-rect{
    transform-origin: center; /* or transform-origin: 50% */
    transform-box: fill-box;
    transition: all 0.1s;
  }

  .genebar-rect:hover{
    //fill: #DA4567;
    stroke:#1a0811;
    stroke-width: $hover-stroke-thickness;
    transform: scale(1.02)
  }
  .genebar-rect{
    transform-origin: center; /* or transform-origin: 50% */
    transform-box: fill-box;
    transition: all 0.1s;
  }


  // .tmb-rect{
  //   fill: #262424
  // }
  .tmb-rect:hover{
    stroke:#1a0811;
    stroke-width: $hover-stroke-thickness;
    fill: $hover-accent-colour;
    transform: scale(1.02);
  }

  .tmb-rect{
    transform-origin: center; /* or transform-origin: 50% */
    transform-box: fill-box;
    transition: all 0.1s;
  }

  .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #fff; /* White text color */
    padding: 8px; /* Increased padding for better appearance */
    border-radius: 5px;
    pointer-events: none;
    font-size: 14px;
    opacity: 0; /* Start with opacity set to 0 for the animation */
    transition: opacity 0.6s, transform 0.6s; /* Apply opacity and transform animations */
    transform: translateY(40px); /* Initial position above element */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Drop shadow */
  }
  
  .tooltip.active {
    opacity: 1; /* Show tooltip with animation */
    transform: translateY(0); /* Move tooltip down to its original position */
  }
  